@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*----- CSS Tips -----
  
  --- Nested HTML --- 
  If the className is somewhere inside the container:
    .container:hover .className { background-color: yellow; }

  If the className is directly inside the container:
    .container:hover > .classname { background-color: yellow; }

  If the className is next to (after containers closing tag) the container:
    .container:hover + .className { background-color: yellow; }
  
  If the className is a sibling of the container:
    .container:hover ~ .className { background-color: yellow; }


*/

:root {
  --primaryWhite: #c4c1bd;
  --secondaryWhite: #f5f2eb;
  --primaryDark: #20303b;
  --secondaryDark: #415a68;
  --primaryBlue: #1997d4;
  --primaryRed: #692210;
  --footerPrimary: #3e525b;
  --footerSecondary: #697c86;
}

* {
  scroll-behavior: smooth;
}

.bodyFlex {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbarShadow {
  box-shadow: 0 2px 2px -2px #3e525b;
}

.heroAlert {
  background:var(--footerPrimary);
  font-family: Poppins;
  font-weight: bold;
  color: var(--secondaryWhite);
  border-radius: 10px;
}

.darkFooterGradient {
  /* ff 3.6+ */
  background:-moz-linear-gradient(180deg, #20303B 0%, #3E525B 30%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(180deg, #20303B 0%, #3E525B 30%);

  /* opera 11.10+ */
  background:-o-linear-gradient(180deg, #20303B 0%, #3E525B 30%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E525B', endColorstr='#20303B', GradientType=1 );

  /* ie 10+ */
  background:-ms-linear-gradient(180deg, #20303B 0%, #3E525B 30%);

  /* global 94%+ browsers support */
  background:linear-gradient(180deg, #20303B 0%, #3E525B 30%);
}

.pin-button {
  width: 3rem;
  height: 3rem;
  border: none;
  text-align: center;
  outline: none;
}

.checkbox {
  display: inline-block;
  height: 3rem;
  position: relative;
  vertical-align: middle;
  width: 44px;
}

.checkbox input[type="checkbox"] {
  font-size: 1em;
  visibility: hidden;
}

.checkbox input[type="checkbox"] + span:before {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 1em;
  height: 1em;
  transform: translate3d(-50%, -50%, 0);
  background: transparent;
  box-shadow: var(--footerSecondary) 0 0 0 2px inset;
  content: "";
  display: flex;
}

.checkbox input[type="checkbox"]:checked + span:before {
  padding-left: 1px;
  padding-bottom: 1px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: var(--footerPrimary);
  box-shadow: var(--footerPrimary) 0 0 0 2px inset;
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 100%;
  background: var(--primaryDark);
  transition: all ease-out 150ms;
}

.list-item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.list-item input[type="text"] {
  background: transparent;
  width: 100%;
}

.list-item input[type="text"]:focus {
  cursor: text;
}

.list-item:hover {
  background: var(--footerPrimary);
}

.list-item + .list-item {
  border-top: 1px solid #f0f9fb;
}

.list-item.checked .delete-item {
  display: inline-block;
}

.list-item.TASK_PINNED {
  background: var(--secondaryDark); 
}
.list-item.TASK_COMPLETED, .list-item.TASK_DELETED {
  background: var(--footerSecondary);
}

.list-item.TASK_COMPLETED input[type="text"] {
  color: var(--primaryDark);
  line-height: 24px;
  text-decoration: line-through;
}

.list-item.TASK_PINNED:hover {
  background: var(--footerPrimary);
}

.list-item.TASK_COMPLETED:hover {
  background: var(--primaryDark);
}

.list-item.TASK_COMPLETED:hover input[type="text"] {
  color: var(--footerSecondary);
  text-decoration: none;
}

.list-item.TASK_DELETED input[type="text"] {
  color: var(--primaryDark);
}
