@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*----- CSS Tips -----
  
  --- Nested HTML --- 
  If the className is somewhere inside the container:
    .container:hover .className { background-color: yellow; }

  If the className is directly inside the container:
    .container:hover > .classname { background-color: yellow; }

  If the className is next to (after containers closing tag) the container:
    .container:hover + .className { background-color: yellow; }
  
  If the className is a sibling of the container:
    .container:hover ~ .className { background-color: yellow; }


*/

:root {
  --light: #c4d6e0;
  --lightMed: #93a4ad;
  --lightHeavy: #697c86;
  
  --dark: #3b5363;
  --darkMed: #28414d;
  --darkHeavy: #20303b;
  
}

* {
  scroll-behavior: smooth;
}

.bodyFlex {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pin-button {
  width: 3rem;
  height: 3rem;
  border: none;
  text-align: center;
  outline: none;
}

.checkbox {
  display: inline-block;
  height: 3rem;
  position: relative;
  vertical-align: middle;
}

.checkbox input[type="checkbox"] {
  font-size: 1em;
  visibility: hidden;
}

.checkbox input[type="checkbox"] + span:before {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 1em;
  height: 1em;
  transform: translate3d(-50%, -50%, 0);
  background: transparent;
  box-shadow: var(--lightMed) 0 0 0 2px inset;
  content: "";
  display: flex;
}

.checkboxDark input[type="checkbox"] + span:before {
  box-shadow: var(--darkHeavy) 0 0 0 2.5px inset;
}

.checkbox input[type="checkbox"]:checked + span:before {
  padding-left: 1px;
  padding-bottom: 1px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: var(--lightMed);
  box-shadow: var(--lightMed) 0 0 0 2px inset;
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;
}


.list-item {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 100%;
  background: var(--darkHeavy);
  transition: all ease-out 150ms;
}

.list-item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.list-item input[type="text"] {
  background: transparent;
  width: 100%;
}

.list-item input[type="text"]:focus {
  cursor: text;
}

.list-item:hover {
  background: var(--darkMed);
}

.list-item + .list-item {
  border-top: 2px solid var(--lightMed);
}

.list-item.list-item.TASK_PINNED + .list-item {
  border-top: 2px solid var(--darkHeavy);
}

.list-item.checked .delete-item {
  display: inline-block;
}


/* --- TASK_PINNED --- */
.list-item.TASK_PINNED {
  background: var(--lightMed);  
}

.list-item.TASK_PINNED:hover {
  background: var(--lightHeavy);
}

.list-item.TASK_PINNED input[type="text"] {
  color: var(--darkHeavy);
  font-weight: bold;
}


/* --- TASK_COMPLETED/TASK_DELETED --- */
.list-item.TASK_COMPLETED, .list-item.TASK_DELETED {
  background: var(--darkMed);
}

.list-item.TASK_COMPLETED:hover, .list-item.TASK_DELETED:hover {
  background: var(--dark);
}

.list-item.TASK_COMPLETED input[type="text"] {
  color: var(--lightMed);
  line-height: 24px;
  text-decoration: line-through;
}

.list-item.TASK_COMPLETED:hover input[type="text"] {
  text-decoration: none;
}

.list-item.TASK_DELETED input[type="text"] {
  color: var(--lightMed);
}

